* {
  margin: 1px;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: grid;
  background-color: #FFCD1D;
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
